<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio imagen</title>
</head>
<body>
    <form action="/upload", method="POST",enctype="multipart/form-data"></form>
    <h1>Envio imagen</h1>
        <div>
            <label for="Imagen">imagen</label>
            <input type="file",name="Imagen">
           
        </div>
        <br>
        
        <button type="submit">
            enviar
        </button>   
</body>
</html>